@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-fundo: #F4F4F4; /* Novo fundo cinza claro */
  --color-principal: #8F88D3;
  --color-texto-principal: #474747;
  --color-texto-secundario: #666666;
  --color-texto-secao: #FFFF;
  --color-destaque-claro: #FFFFFF;
  --font-principal: 'Poppins', sans-serif;
}

.dark {
  --color-fundo: #121212;
  --color-principal: #A8A0E4;
  --color-texto-principal: #cfcfcf;
  --color-texto-secao: #FFFF;
  --color-texto-secundario: #A0A0A0;
  --color-destaque-claro: #3A3A3A;
  --color-desconto: #4CAF50;
}

body {
  background-color: var(--color-fundo);
}